<% @awards.each do |award| %>
  <div class="col-md-3">
    <div class="award">
      <div class="over">
        <img class="ribbon" src="../assets/ribbon.png">
      </div>
      <div class="top votes">
        <% if @display %>
          <form action="/nomination/<%= award.id %>" method="post">
            <input type="submit" value="<%= award.votes %>" class="votes" disabled>
          </form>
        <% else %>
          <form action="/<%= award.id %>" method="post">
            <input type="submit" value="vote" class="votes">
          </form>
        <% end %>
      </div>
      <div class="under">
        <% if award.pic_url %>
          <img class="prof-pic" src="<%= award.pic_url %>">
        <% else %>
          <img class="prof-pic" src="../assets/placeholder.jpg">
        <% end %>
      </div>
      <div>
        <h2 class="launcher-name"><%= award.name %></h2>
      </div>
      <h2 class="award-title"><%= award.content %></h2>
    </div>
  </div>
<% end %>
