<header>
  <div class="row">
    <div class="col-md-4 nav">
      <h1> <img class="logo" src="/assets/logo.png"> <a href="/">LaunchVotes</a></h1>
    </div>
<!--     <div class="col-md-1 col-md-offset-6 nav-links">
      <h4 class="navbar-text navbar-right"> <a href="http://www.launchacademy.com/">About</a></h4>
    </div> -->
  </div>
</header>

<!-- <div class="jumbotron">
  <div class="container jumbo-content">
    <div class="col-md-6 col-md-offset-4"></div>
  </div>
</div> -->

<div class="container">
  <div class="form-container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form">
      <div>
        <h1 class="center">Nominate a Fellow Launcher:</h1>
      </div>
      <form action="/" method="post">
        <div>
          <select class="roboto-sm" id="nominee" name="nominee_id">
            <option default>Choose Launcher</option>
            <% @users.each do |user| %>
              <option value="<%= user["id"] %>"><%= user["name"] %></option>
            <% end %>
          </select>
        </div>
        <input type="text" maxlength="40" class="roboto-sm" placeholder="Enter nomination (ex: Best hairdo)." name="nominations_content"/>
        <div>
          <input type="submit" class="btn-submit roboto-sm"></input>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div class="awards-container">
    <div class="col-md-12"><h1 class="title">Nominations</h1><p>...click ribbon to upvote</p></div>
    <div class="row nomination-line">
      <% if @get_award_info == [] %>
        <div class="col-md-8"><h1>Make the first nomination!</h1></div>
      <% else %>
        <% @get_award_info.each do |award| %>
          <div class="col-md-3">
            <div class="award">
              <div class="over">
                <img class="ribbon" src="../assets/ribbon.png">
              </div>
              <div class="top votes">
                <form action="/<%= award["id"]%>" method="post">
                  <input type="hidden" name="plus_one" value="<%= award["votes"].to_i + 1 %>">
                  <input type="submit" value="<%= award["votes"] %>" class="votes">
                </form>
              </div>
              <div class="under">
                <% if award["pic_url"] == nil %>
                  <img class="prof-pic" src="../assets/placeholder.jpg">
                <% else %>
                  <img class="prof-pic" src="<%= award["pic_url"] %>">
                <% end %>
              </div>
              <div>
                <h2 class="launcher-name"><%= award["name"] %></h2>
              </div>
              <h2 class="award-title"><%= award["content"] %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
